ul {
    padding: 0;
    margin: 0 0 20px 20px;
}

ul li a {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    padding: 2px 0px;
}

ul li.hdl a {
    font-size: 16px !important;
}

.hdlg {
    font-size: 4em !important;
}

.cgr li {
    color: $gs-primary-color;
}

.cga li {
    color: $gs-primary-alt-color;
}

.entry-meta {
    color: $gs-secondary-alt-color;
    font-size: 16px;
}

.all-posts .entry-title {
    margin: 0 !important;
}

h3.entry-title {
    margin-top: 15px !important;
    margin-bottom: 10px !important;
}

.post-meta {
    color: $gs-black-color;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
}

blockquote {
    font-size: 20px !important;
    color: $gs-grey-dark-color;
    padding: 10px 40px;
    border-left: 2px solid $gs-primary-color;
    margin: 40px 0;
    background-color: $gs-primary-light-color;
}

.list-styled li {
    padding-left: 20px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $gs-primary-color;
        opacity: .3;
        left: 0;
        top: 18px;
    }
}

.alert-default {
    color: $gs-black-color !important;
    background: $gs-grey-light-color;
}

.pagination {
    justify-content: space-between;
}

.pagination a {
    color: $gs-primary-color;
}

.pagination i {
    font-size: 12px;
    line-height: 2.9;
}

.sidebar-menu li {
    display: none;
}

.sub-menu li {
    display: block;
}

.sub-menu li a {
    font-size: 15px !important;
    color: $gs-black-color;
}

.sub-menu li.active a {
    color: $gs-grey-dark-color;
}

li.parent::before {
    display: none;
}

li.parent a {
    font-size: 20px;
}

#accordion i {
    font-size: 14px;
    line-height: 2;
}

.tind {
    padding-left: 1em !important;
    color: $gs-grey-dark-color;
    font-weight: 600 !important;
}
