.d-unset {
    display: unset !important;
}

.bg-primary {
    background: $gs-primary-color !important;
}

.bg-gray {
    background-color: $gs-white-color--lightest;
}

.bg-white {
    background-color: $gs-white-color !important;
}

.bg-base-white {
    background-color: $gs-white-base-color;
}

.bg-beige {
    background-color: $gs-grey-light-color;
}

.text-primary {
    color: $gs-primary-color !important;
}

.text-secondary {
    color: $gs-secondary-color !important;
}

.text-color {
    color: $gs-black-color;
}

.text-dark {
    color: $gs-grey-dark-color !important;
}

.text-white {
    color: $gs-white-color !important;
}

.text-grey {
    color: $gs-grey-color !important;
}

.text-bold {
    font-weight: bold;
}

.np {
    padding: 0 !important;
}

.npt {
    padding-top: 0 !important;
}

.npr {
    padding-right: 0 !important;
}

.mbs-10 {
    margin-right: 10px;
    margin-left: 10px;
}

.pds-40 {
    padding: 0 40px 0 40px !important;
}

.pd-5 {
    padding: 5px !important;
}

.pd-10 {
    padding: 10px !important;
}

.pd-20 {
    padding: 20px !important;
}

.pdt-20 {
    padding: 3rem 20px 1rem 20px !important;
}

.pd-40 {
    padding: 40px !important;
}

.pdl-0 {
    padding-left: 0 !important;
}

.nm {
    margin: 0 !important;
}

.np {
    padding: 0 !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mb-1-5 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.zindex-1 {
    z-index: 1;
}
