services:
  build:
    image: hugomods/hugo:${HUGO_VERSION}
    env_file:
      - .env
    environment:
      - HUGO_ENVIRONMENT=production
      - HUGO_ENV=production
      - HUGO_EXTENDED=true
      - NODE_VERSION=${NODE_VERSION}
    working_dir: /src
    command: >-
      sh -c "apk add --no-cache nodejs npm curl bash
      && npm install -g n
      && n \"$NODE_VERSION\"
      && node -v
      && npm ci
      && hugo --minify --baseURL \"$BASE_URL:$SOURCE_PORT/\"
      && chmod -R a+rX public"
    volumes:
      - ./:/src
      - ~/hugo_cache:/tmp/hugo_cache

  nginx:
    image: nginx:${NGINX_VERSION}
    env_file:
      - .env
    command: ["nginx", "-g", "daemon off;"]
    depends_on:
      build:
        condition: service_completed_successfully
    ports:
      - ${SOURCE_PORT}:80
    volumes:
      - ./public:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
  
