{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-primary">
      <div class="container bg-primary">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}



<!-- details page -->
<section class="single section pb-0 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-5 bg-white">
          <h2 class="page-title">GRASS Addons</h2>
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /details page -->

{{ partial "footer.html" . }}
