{{ partial "head.html" . }}
{{ partial "banner.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}


<!-- details page -->
<section class="single section bg-gray pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="p-5 bg-white">
	<img src="{{.Site.BaseURL}}/images/logos/grass-SampleData.jpg" class="pull-right">
	<h2 class="page-title">GRASS GIS sample data</h2>
	{{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /details page -->

{{ partial "footer.html" . }}