<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {{ partial "head.html" . }} {{ "<!-- navigation -->" | safeHTML }}
  <header class="bg-lgr">
    <div class="container">
      {{ partial "navigation.html" . }}
    </div>
  </header>{{ "<!-- /navigation -->" | safeHTML }}
  <section class="bg-lgr">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center mx-auto">
          <h1 class="mt-4 mb-3"><img alt="GRASS GIS" src="{{.Site.BaseURL}}/images/grasslogo.svg" width="33%"></h1>
        </div>
      </div>
    </div>
    <section>
      <section class="pt-4 bg-gray">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="section-title">Download your free and open source copy</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              {{ range .Data.Pages }}
              <div class="section bg-white mb-4">
                <div class="row nm">
                  <div class="col-4 text-center"><img src="{{.Site.BaseURL}}/images/grass-{{.Title}}.jpg"></div>
                  <div class="col-6">
                    <h3 class="mt-2 mb-4">GRASS GIS for {{ .Title }}</h3>{{ .Summary }} <a class="btn btn-secondary" href="{{.File.TranslationBaseName}}">View all</a>
                  </div>
                </div>
              </div>{{ end }}
              <div class="section bg-white">
                <div class="row nm">
                  <div class="col-4 text-center"><img alt="GRASS GIS" src="{{.Site.BaseURL}}/images/grasslogo.svg" width="31%"></div>
                  <div class="col-6">
                    <h3 class="mt-20">GRASS GIS open source license</h3><a href="#">/about/license</a>
                  </div>
                </div>
              </div>
              <div class="section mb-4">
                <a class="github dbl" href="https://github.com/OSGeo/grass" target="_blank">
                <div class="row nm pd-20">
                  <div class="col-4 text-center">
                    <i class="fab fa-github fa-4x mt-4"></i>
                  </div>
                  <div class="col-6">
                    <h3 class="wht mt-20 lgr">GRASS GIS source code on Github</h3>
                    <p class="command">$git clone https://github.com/OSGeo/grass</p>
                  </div>
                </div></a>
              </div>
            </div>
          </div>
        </div>
      </section>{{ partial "footer.html" . }}
    </section>
  </section>
</body>
</html>