{{ partial "head.html" . }}

<!-- navigation -->
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-white">
      <div class="container bg-white">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<section class="section">
  <section class="pt-4 bg-gray mt-95">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Download your free and open source copy</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="section bg-white mb-4">
        <div class="row nm">
          <div class="col-4 text-center">
            <object type="image/svg+xml" data="{{.Site.BaseURL}}/images/logos/grass-green.svg" class="grasslogo"></object>
          </div>
          <div class="col-8">
            <h3 class="mt-20">GRASS GIS source code</h3>
            <p>The GRASS GIS source code is available on <a href="https://github.com/OSGeo/grass" target="_blank"><i class="fab fa-github"></i> Github</a>, see all <a href="https://github.com/OSGeo/grass/tags">source code archives</a> for releases (zip and tarball files). Alternatively, find the latest tarballs and snapshots at <a href="https://grass.osgeo.org/grass{{- .Site.Data.grass.current_version_nodots -}}/source/">https://grass.osgeo.org/grass{{- .Site.Data.grass.current_version_nodots -}}/source/</a>.</p>
            <a class="btn btn-primary" href="https://github.com/OSGeo/grass" target="_blank">Clone me at <i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          {{ range .Data.Pages }}
          {{ if not .Params.categories }}
          <div class="section bg-white mb-4">
            <div class="row nm">
              <div class="col-4 text-center"><img src="{{.Site.BaseURL}}/images/logos/grass-{{.Title}}.jpg" width="110"></div>
              <div class="col-8">
                <h3 class="mt-2 mb-2">GRASS GIS for {{ .Title }}</h3>
                <p>{{ .Description }}</p>
                <a class="btn btn-primary" href="{{.File.TranslationBaseName}}">Download</a>
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
          <div class="section bg-white mb-4">
            <div class="row nm">
              <div class="col-4 text-center"><object type="image/svg+xml" data="{{.Site.BaseURL}}/images/logos/grass-green.svg" class="grasslogo"></object></div>
              <div class="col-8">
                <h3 class="mt-2 mb-2">GRASS GIS Addons</h3>
                <p>Download user contributed GRASS GIS extensions</p>
                <a class="btn btn-primary" href="{{.Site.BaseURL}}/download/addons">Download</a>
              </div>
            </div>
          </div>

          <div class="section bg-white mb-4">
            <div class="row nm">
              <div class="col-4 text-center"><img alt="GRASS GIS" src="{{.Site.BaseURL}}/images/logos/grass-SampleData.jpg"></div>
              <div class="col-8">
                <h3 class="mt-2 mb-2">GRASS GIS sample data</h3>
                <p>Download ready-to-use GRASS GIS sample datasets</p>
                <a class="btn btn-primary" href="{{.Site.BaseURL}}/download/data">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{{ partial "footer.html" . }}
</body>
</html>
