{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-primary">
      <div class="container bg-primary">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}



<!-- details page -->
<section class="single section bg-gray pb-0 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="p-5 bg-white">
	{{ $imgPath := printf "static/images/logos/historical_logos/grass-%s.jpg" .Title }}
	{{ if os.FileExists $imgPath }}
	<img src="{{.Site.BaseURL}}images/logos/historical_logos/grass-{{.Title}}.jpg" width="110" class="pull-right">
	{{ else }}
	<img src="{{.Site.BaseURL}}images/logos/grass-logo-simple/grass-logo-green-simple@1x.png" width="110" class="pull-right">
	{{ end }}
	<h2 class="page-title">GRASS for {{ .Title }}</h2>
	 {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /details page -->

{{ partial "footer.html" . }}
