{{ define "main" }}
<!-- details page -->
<section class="single pt-5 bg-gray mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="p-4 bg-white sticky-top">
            {{$currentNode := .}}
            <nav class="sidebar-menu">
              <ul class="list-styled">
                {{- range .Site.Sections.ByWeight -}}
                  {{ partial "sidebar-menu-download.html" (dict "sect" . "currentnode" $currentNode) }}
                {{- end -}}
              </ul>
            </nav>

            
        </div>
      </div>
      <div class="col-lg-8">
        <div class="p-5 bg-white">
            <h1 class="page-title">{{ .Title }}</h1>
            {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->
{{ end }}
