{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-primary">
      <div class="container bg-primary">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}


<!-- details page -->
<section class="single pt-5 bg-gray mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="p-4 bg-white sticky-top">
            {{$currentNode := .}}
            <nav class="sidebar-menu">
              <ul class="list-styled">
                {{- range .Site.Sections.ByWeight -}}
                  {{template "menu" dict "sect" . "currentnode" $currentNode}}
                {{- end -}}
              </ul>
            </nav>

            {{define "menu"}}
            {{- $currentNode := .currentnode -}}
            {{ with .sect }}
            {{ if in .Site.Params.menu_exclusion .Section }}
            {{- else -}}
	      {{- safeHTML .Params.head -}}
	      {{ $fileUniqueID := "" }}
{{ with .File }}{{ $fileUniqueID = .UniqueID }}{{ end }}
{{ $currentNodeFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentNodeFileUniqueID = .UniqueID }}{{ end }}
            <li class="{{ if .IsAncestor $currentNode }}parent d-block{{ end }}{{ if eq $fileUniqueID $currentNodeFileUniqueID }}
            active {{ end }}{{ if .Params.alwaysopen }} parent {{end}}"><a href="{{ .Permalink }}">{{ if .IsAncestor $currentNode}} <i class="fa fa-{{lower .Title }}"></i>{{ end }} {{ .Title }}</a>
              {{- $numberOfPages := (add (len .Pages) (len .Sections)) -}}
              {{if ne $numberOfPages 0}}
              <ul class="{{ if .IsAncestor $currentNode }}sub-menu{{ end }}">
              {{- .Scratch.Set "pages" .Data.Pages -}}
              {{- $pages := (.Scratch.Get "pages") -}}
                {{- range $pages.ByWeight -}}
                  {{template "menu" dict "sect" . "currentnode" $currentNode}}
                {{- end -}}
              </ul>
              {{end}}
            </li>
            {{- end -}}
            {{- else -}}
              {{- if not .Params.Hidden -}}
              <li class="{{ if eq .File.UniqueID $currentNode.File.UniqueID }}active{{ end }}"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{- end -}}
            {{ end -}}
            {{ end }}
        </div>
      </div>
      <div class="col-lg-8">
        <div class="p-5 bg-white">
            <h2 class="page-title">{{ .Title }}</h2>
            {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->

{{ partial "footer.html" . }}