{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-primary">
      <div class="container bg-primary">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<section class="pt-4 mt-95 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Download</h1>
      </div>
    </div>
  </div>
    
    <!-- Download Tab Sections -->
    <div class="container download-grass">
        <ul class="nav nav-tabs" id="downloadTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="linux-tab" data-toggle="tab" href="#linux" role="tab" aria-controls="linux" aria-selected="true">Linux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="mac-tab" data-toggle="tab" href="#mac" role="tab" aria-controls="mac" aria-selected="false">macOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="windows-tab" data-toggle="tab" href="#windows" role="tab" aria-controls="windows" aria-selected="false">Windows</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="windows-tab" data-toggle="tab" href="#docker" role="tab" aria-controls="docker" aria-selected="false">Docker</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="source-tab" data-toggle="tab" href="#source" role="tab" aria-controls="source"
                aria-selected="false">Source Code</a>
            </li>
        </ul>
        <div class="tab-content" id="downloadTabContent">
          <!-- Linux Section -->
          <div class="tab-pane fade show active" id="linux" role="tabpanel" aria-labelledby="linux-tab">
            {{ $download_data := dict "os" "Linux" "version" .Site.Data.grass.current_version "binaries" .Site.Data.grass.install.linux.binaries "binaries_url" .Site.Data.grass.binaries_url }}
            <h2>Installation</h2>
            {{ range sort .Site.Data.grass.install.linux.installers "id" "desc" }}
              <h3>{{ .title }}</h3>
              {{ if .pre_install }}
                {{ range $pre_value := .pre_install }}
                  <p class="gs-grey-color">{{ print $pre_value.text "\n" }}</p>
                  {{ partial "code-copy.html" $pre_value }}
                {{ end }}
              {{ end}}
              <p>Install with the following shell command:</p>
              {{ partial "code-copy.html" . }}
              <div class="grass-download-button-group">
                <a class="btn btn-download" href="{{ .url }}" target="_blank">View Source</a>
                {{ partial "support-button.html" $download_data }}
              </div>
            {{ end }}
            <h2>Compile and Install</h2>
              <p>To compile and install GRASS from source, follow these steps from the <a href="https://grasswiki.osgeo.org/wiki/Compile_and_Install" target="_blank">GRASS wiki</a></p>

            <h2>Contribute</h2>
              <p>Please consider a financial contribution to the GRASS project to help us improve and maintain the software.</p>
              <div class="grass-download-button-group mb-5">
                {{ partial "support-button.html" $download_data }}
              </div>
          </div>

          <!-- Mac Section -->
          <div class="tab-pane fade" id="mac" role="tabpanel" aria-labelledby="mac-tab">
            {{ $download_data := dict "os" "Mac" "version" .Site.Data.grass.current_version "binaries"
              .Site.Data.grass.install.mac.binaries "binaries_url" .Site.Data.grass.mac_binaries_url }}
            {{ partial "grass-download.html" $download_data }}
            <h2>Installation</h2>
            {{ range sort .Site.Data.grass.install.mac.installers "id" "desc" }}
            <h3>{{ .title }}</h3>
            {{ if .pre_install }}
              {{ range $pre_value := .pre_install }}
                <p class="gs-grey-color">{{ print $pre_value.text "\n" }}</p>
                {{ partial "code-copy.html" $pre_value }}
              {{ end }}
            {{ end}}
            <p>Install with the following shell command:</p>
            {{ partial "code-copy.html" . }}
            <!-- <div class="grass-download-button-group">
              <a class="btn btn-download" href="{{ .url }}" target="_blank">View Source</a>
              {{ partial "support-button.html" $download_data }}
            </div> -->
            {{ end }}
            <h2>Contribute</h2>
            <p>Please consider a financial contribution to the GRASS project to help us improve and maintain the software.</p>
            <div class="grass-download-button-group mb-5">
              {{ partial "support-button.html" $download_data }}
            </div>
          </div>

          <!-- Windows Section -->
          <div class="tab-pane fade" id="windows" role="tabpanel" aria-labelledby="windows-tab">
            {{ $download_data := dict "os" "Windows" "version" .Site.Data.grass.current_version "binaries"
              .Site.Data.grass.install.windows.binaries "binaries_url" .Site.Data.grass.windows_binaries_url }}
            {{ partial "grass-download.html" $download_data }}
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2>Additional install options</h2>
                  <div class="row mb-5 text-primary">
                    <div class="col-12">
                      <h3>Online (OSGeo4W v2) installer:</h3>
                      <p>Download the OSGeo4W v2 installer to install GRASS and other OSGeo software on Windows.</p>
                      <a class="btn btn-download mb-2" href="https://download.osgeo.org/osgeo4w/v2/osgeo4w-setup.exe" target="_blank"><i class="fa-solid fa-download"></i> OSGeo4W v2 installer</a>
                      
                      <h2>Installation</h2>
                        <p>The following install modes are offered (see also the dedicated <a href="{{ .Site.Data.grass.install_wiki_url }}" alt="GRASS Install Wiki" target="_blank">wiki</a> page for further details):</p>
                        <h3 class="text-secondary">Express Desktop Install mode</h3>
                          <p>Run the downloaded installer as administrator and select the grass (stable) or grass-daily (development) packages to
                            install. All needed dependencies (e.g. GDAL, common python packages) will be automatically downloaded.</p>
                        <h3 class="text-secondary">Advanced Install mode</h3>
                          <p>Run the downloaded installer as administrator and select the grass (stable) or grass-daily (development) packages to
                          install. All needed dependencies (e.g. GDAL, common python packages) will be automatically downloaded.</p>
                        <h3 class="text-secondary">Command line installation</h3>
                          {{ range sort .Site.Data.grass.install.windows.installers "id" "desc" }}
                            <h4>{{ .title }}</h4>
                            {{ if .pre_install }}
                              {{ range $pre_value := .pre_install }}
                                <p class="gs-grey-color">{{ print $pre_value.text "\n" }}</p>
                                {{ partial "code-copy.html" $pre_value }}
                              {{ end }}
                            {{ end}}
                          <p>Install with the following shell command:</p>
                        {{ partial "code-copy.html" . }}
                      {{ end }}

                      <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">QGIS users</h4>
                        <p>In order to have GRASS support (also in QGIS-Processing) you need to install the “qgis*-grass-plugin” packages.</p>
                      </div>

                      <h2>Contribute</h2>
                      <p>Please consider a financial contribution to the GRASS project to help us improve and maintain the software.</p>
                      <div class="grass-download-button-group mb-5">
                        {{ partial "support-button.html" $download_data }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Docker Section -->
          <div class="tab-pane fade" id="docker" role="tabpanel" aria-labelledby="docker-tab">
            <section class="grass-download">
              <h2>Docker Hub</h2>
              Offical GRASS Docker images are available on <a href="https://hub.docker.com/r/osgeo/grass-gis/" target="_blank">Docker Hub (osgeo/grass-gis)</a>. You can pull the latest image using the following command:
            </section>

              <h2>Installation</h2>
                {{ range sort .Site.Data.grass.install.docker.installers "id" "desc" }}
              <h3>{{ .title }}</h3>
                {{ if .pre_install }}
                  {{ range $pre_value := .pre_install }}
                    <p class="gs-grey-color">{{ print $pre_value.text "\n" }}</p>
                    {{ partial "code-copy.html" $pre_value }}
                  {{ end }}
                {{ end}}
                <p>Install with the following shell command:</p>
                {{ partial "code-copy.html" . }}
              {{ end}}
              
            <section class="container mb-5">
              <h2>Run GRASS as a Docker container</h2>
              Please refer to the <a href="https://github.com/OSGeo/grass/blob/main/docker/README.md" target="_blank">GRASS Docker README</a>
            </section>

            <h2>Contribute</h2>
            <p>Please consider a financial contribution to the GRASS project to help us improve and maintain the software.</p>
            <div class="grass-download-button-group mb-5">
              {{ partial "support-button.html" $download_data }}
            </div>
          </div>

        <!-- Source Section -->
        <div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="source-tab">
          <h2>Source Code</h2>
          Source code is avaliable on <a href="https://github.com/OSGeo/grass/" target="_blank">GitHub</a>. You can download the latest release at
          <a href="https://github.com/OSGeo/grass/releases" target="_blank">https://github.com/OSGeo/grass/releases</a>

          <h2>Compile and Install</h2>
          <p>To compile and install GRASS from source, follow these steps from the <a
                href="https://grasswiki.osgeo.org/wiki/Compile_and_Install" target="_blank">GRASS wiki</a></p>
          
          <h2>Contribute</h2>
          <p>Please consider a financial contribution to the GRASS project to help us improve and maintain the software.</p>
          <div class="grass-download-button-group mb-5">
            {{ partial "support-button.html" $download_data }}
          </div>
        </div>
      </div>
    </div>
</section>

{{ partial "footer.html" . }}
