{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-primary">
      <div class="container bg-primary">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<section class="pt-4 mt-95 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Download</h1>
      </div>
    </div>
  </div>
  {{ .Content }}
</section>

{{ partial "footer.html" . }}
