{{ partial "head.html" . }}
{{ partial "banner.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}


   <section>
      <section class="pt-4 bg-gray">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="section-title">Commercial support for GRASS GIS</h2>
            </div>
          </div>
        </div>


        <div class="container">

            <div class="section bg-white mb-4">
                <div class="row nm">
                  <div class="col-4 text-center"><object type="image/svg+xml" data="{{.Site.BaseURL}}/images/logos/mundialis_logo.svg" class="grasslogo"></object></div>
                  <div class="col-8">
                    <h3 class="mt-20">mundialis GmbH & Co. KG</h3>
                    <p>At mundialis we work with free geodata and free software in the field of remote sensing and GIS analysis. We generate spatial information and develop free and open source software. Both form the core of customised GIS solutions that we implement in a customer-oriented manner. We work scientifically based with regional and international project partners. In addition to our technical work, we see ourselves as an environmentally conscious and sustainable company that makes a positive contribution to society and the environment.</p>
            <a class="btn btn-primary" href="https://www.mundialis.de/" target="_blank">Visit our website</a>

                  </div>
                </div>
              </div>

          <div class="row">
            <div class="col-lg-12">
	      {{ range .Data.Pages }}
	        {{ if not .Params.categories }}	      
              <div class="section bg-white mb-4">
                <div class="row nm">
                  <div class="col-4 text-center"><img src="{{.Site.BaseURL}}/images/logos/grass-{{.Title}}.jpg"></div>
                  <div class="col-8">
		    <h3 class="mt-2 mb-2">GRASS GIS for {{ .Title }}</h3>
		    <p>{{ .Description }}</p>
		    <a class="btn btn-primary" href="{{.File.TranslationBaseName}}">Download</a>
                  </div>
                </div>
		</div>
		{{ end }}
	       {{ end }}
               <div class="section bg-white mb-4">
                <div class="row nm">
                  <div class="col-4 text-center"><object type="image/svg+xml" data="{{.Site.BaseURL}}/images/logos/grasslogo.svg" class="grasslogo"></object></div>
                  <div class="col-8">
		    <h3 class="mt-2 mb-2">GRASS GIS Addons</h3>
		     <p>Download user contributed GRASS GIS extensions</p>
		    <a class="btn btn-primary" href="{{.Site.BaseURL}}/download/addons">Download</a>
                  </div>
                </div>
		</div>

              <div class="section bg-white mb-4">
                <div class="row nm">
                  <div class="col-4 text-center"><img alt="GRASS GIS" src="{{.Site.BaseURL}}/images/logos/grass-SampleData.jpg"></div>
                  <div class="col-8">
		    <h3 class="mt-2 mb-2">GRASS GIS sample data</h3>
		     <p>Download ready-to-use GRASS GIS sample datasets</p>
		    <a class="btn btn-primary" href="{{.Site.BaseURL}}/download/data">Download</a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>{{ partial "footer.html" . }}
    </section>
  </section>
</body>
</html>
