/* GRASS Fonts */
$gs-grass-font: 'Fira Sans Regular', sans-serif;
$gs-grass-font--medium: 'Fira Sans Medium', sans-serif;
$gs-grass-font--bold: 'Fira Sans Bold', sans-serif;
$gs-grass-font--light: 'Fira Sans ExtraLight', sans-serif;
$gs-grass-font--mono: 'Fira Mono', monospace;