//-- scss:defaults --*/
// GRASS Theme
/* GRASS Variables
Use these variables to customize the GRASS theme.
----------------------------------------------------------------------------- */
@import "colors";
@import "fonts";
@import "variables";
@import "bootstrap";

body {
    line-height: 1.8;
    font-family: $gs-grass-font; 
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: $gs-black-color;
    background-color: $gs-white-color--lightest;
    background-color: $gs-white-color;
}

.grass-bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,
        $gs-secondary-color--light 0%,
        $gs-secondary-color--light 100%
    ),
    $gs-grass-background-image;
}

@import "styles";
