{{- $logo := .Get "logo" -}}
{{- $colorName := .Get "colorName" -}}

<div class="col-lg-3 col-sm-12 mb-3">
    {{- if eq $colorName "White" -}}
    <img class="grass-green-bg" width="90%" src="{{ $logo }}" alt="logo-{{ $colorName | lower }}">
    {{- else}}
    <img class="bg-base-white" width="90%" src="{{ $logo }}" alt="logo-{{ $colorName | lower }}">
    {{- end}}
    <div class="col-sm-12 brand-logo-download">
        <b>SVG:</b> &#160;<a href="/images/logos/grass-{{ $colorName | lower }}.svg"> <i class="fa fa-download"></i> Vector
            &#160; </a>
        <div>
            <span >
                <b>PNG:</b> &#160;
                <a href="/images/logos/grass-{{ $colorName | lower }}-small.png"> <i class="fa fa-download"></i> sm &#160; </a>
                <a href="/images/logos/grass-{{ $colorName | lower }}-medium.png"> <i class="fa fa-download"></i> md &#160; </a>
                <a href="/images/logos/grass-{{ $colorName | lower }}-large.png"> <i class="fa fa-download"></i> lg &#160; </a>
            </span>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-12">
    {{- if eq $colorName "White" -}}
    <img class="grass-bg-image " width="90%" src="{{ $logo }}" alt="logo-{{ $colorName | lower }}">
    {{- else}}
    <img class="white-color-bg" width="90%" src="{{ $logo }}" alt="logo-{{ $colorName | lower }}">
    {{- end}}
</div>
<div class="col-lg-6 col-sm-12">
    {{ .Inner }}
</div>

