{{ partial "head.html" . }}


{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    <div class="bg-white">
      <div class="container bg-white">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}



<!-- details page -->
<section class="single section bg-gray pb-0 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
      <div id="news" class="p-5 bg-white">
	      <h2 class="page-title">{{ .Title }}</h2>

	      {{ $events := ( where .Data.Pages "Section" "events" ) }}
	      {{ range (sort $events ".Params.event.start" "desc") }}
<div class="row">
      <div class="col-lg-4">

<img src="{{.Site.BaseURL}}/{{.Page.Params.logo}}" class="eventslogo" alt="{{ .Title }}">
      </div>
      <div class="col-lg-8">
      <h3 class="entry-title event-title" itemprop="headline"><a href="{{ .Page.Params.website }}" target="_blank" class="nws">{{ .Title }}</a></h3><span class="entry-meta">
	       <time itemprop="datePublished" datetime="{{ .Page.Params.date }}">{{ .Page.Params.where }}, {{ .Page.Params.event.start }} - {{ .Page.Params.event.end }}</time></span>
      </div>
</div>
{{ end }}
      </div>
      </div>
      <div class="col-md-4 bg-white">
        <h3 class="mt-20"><a href="#">@GRASSGIS on Mastodon</a></h3>

        {{ partial "mastodon.html" . }}

        <h3 class="mt-20"><a href="#">@GRASSGIS on X</a></h3>

        {{ partial "twitter.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /details page -->


{{ partial "footer.html" . }}
