{{ define "header" }}
{{ partial "page-header.html" (dict "page" . "banner" false) }}
{{ end }}

{{ define "main" }}
<!-- details page -->
<section class="single section bg-gray pb-0 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="p-5 bg-white">
	      <h1 class="page-title">{{ .Title }}</h1>
	      <h6 class="page-title">{{ .Date.Format "Monday, January 2, 2006" }}</h6>
	      {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->
{{ end }}
