body {
  line-height: 1.8;
  font-family: open_sansregular;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--secondary-color);
}
main {
  display: block;
}
p, .paragraph {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.8;
  font-family: open_sansregular;
}
.grass{
    font-family: fira_sansmedium;
}
.gis{
    font-family: fira_sansthin;
    margin-left: -.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: open_sansbold;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 36px;
  margin-bottom: 16px;
}
h2, .h2 {
  font-size: 32px;
  margin-top: 28px;
  margin-bottom: 14px;
}
h3, .h3 {
  font-size: 26px;
  margin-top: 24px;
  margin-bottom: 12px;
}
h4, .h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 12px;
}
h5, .h5 {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 11px;
}
h6, .h6 {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.dbl {
  display: block !important;
}
.inl {
  display: inline-block !important;
}
.dil li a {
  display: inline-block !important;
}
.cap {
  text-transform: capitalize;
}
a.external{
    color: red !important;
}
a.nws {
  color: var(--grey-color) !important;
  font-weight: 400;
  font-size:22px !important;
}
a.nws:hover {
  color: var(--grass-color-dark) !important;
}
.releases li {
    padding:.5rem;
}
.releases li a {
    color: var(--grey-color-dark) !important;
}
.releases li a:hover {
  color: var(--grass-color) !important;
}

.grass-green {
  color: var(--primary-color);
}
.grass-green-bg {
  background: var(--grass-color);
}
.grass-green-alt {
  color: var(--grass-color-alt);
}
.grass-green-alt-bg {
  background: var(--grass-color-alt);
}
.grass-green-light {
  color: var(--grass-color-light);
}
.grass-green-light-bg {
  background: var(--grass-color-light);
}
.grass-green-dark {
  color: var(--grass-color-dark);
}
.grass-green-dark-bg {
  background: var(--grass-color-dark);
}
.white-color {
  color: #FFF;
}
.white-color-bg {
  background: #FFF;
}
.black-color {
  color: #000;
}
.black-color-bg {
  background: #000;
}
.grey-color-dark {
  color: var(--grey-color-dark);
}
.grey-color-dark-bg {
  background: var(--grey-color-dark);
}
.grey-color-light {
  color: var(--grey-color-light);
}
.grey-color-light-bg {
  background: var(--grey-color-light);
}
.mwl {
  display: inline-block;
  min-width: 45%;
}
.mwl-l {
  display: inline-block;
  min-width:65%;
}
.version li {
  margin-bottom: 9px;
}
.version li>a {
  margin-right: 7px;
}
#links li span a {
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 0px 0;
}
.bigr  {
    font-size: 125%;
    text-align:top;
}

:focus:not(:focus-visible) {
  outline: none;
}
:focus-visible {
    outline: 2px solid var(--grass-color) !important;
}

.btn {
  font-size: 14px;
  font-family: open_sansregular;
  text-transform: uppercase;
  padding: 6px 14px;
  border-radius: 0px;
  font-weight: 400;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}
.btn:active {
  box-shadow: none;
}
.btn-primary {
  background: var(--grass-color-alt);
  color: var(--white-color);
}
.btn-primary:hover, .btn-primary:focus,  .btn-primary-active {
  background: var(--grass-color);
  color: var(--white-color) !important;
}
.btn-primary:active {
  background: var(--grass-color);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-secondary {
  background: var(--grey-color-light);
  color: var(--white-color);
}
.btn-secondary:active {
  background: var(--grey-color-dark);
}
.btn-secondary:hover, .btn-secondary:focus {
  background: var(--grey-color-dark);
  color: var(--white-color) !important;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: var(--white-color);
  background-color: var(--grey-color);
  border-color: var(--grey-color);
}

.btn-grass {
  font-size: 18px;
  color: var(--white-color) !important;
  background: var(--grass-color);
  border-radius: 5px;
}
.btn-grass:active {
  background: var(--grass-color-alt);
}
.btn-grass:hover, .btn-grass:focus {
  background: var(--grass-color-alt);
  color: var(--white-color) 
}
.btn-grass:not(:disabled):not(.disabled).active, .btn-grass:not(:disabled):not(.disabled):active, .show>.btn-grass.dropdown-toggle {
  color: var(--white-color);
  background-color: var(--grass-color-alt);
  border-color: var(--grass-color-alt);
}
.btn-grass a {
  color: var(--white-color);
}
.btn-grass a:focus {
  color: var(--white-color);
}
.btn-grass a:hover {
  color: var(--white-color) !important;
}

.badge {
    font-size: 1rem !important;
}

body {
  background-color: var(--white-color);
  overflow-x: hidden;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-color);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol, ul {
  margin: 0px;
}
img {
  vertical-align: middle;
  border: 0;
}
img[src*="#grass"] {
  display: inline-block !important;
  margin: 0px;
}
img {
  vertical-align: middle;
  border: 0;
}
img[src*="#grass"] {
  width: 399px;
  height: 100px;
  display: inline-block;
}
a, a:focus, a:hover {
  text-decoration: none !important;
}
a, a:focus {
  color: var(--grass-color);
}
a:hover {
  color: var(--grass-color-dark) !important;
}
a, button, select {
  cursor: pointer;
  transition: .2s ease;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-title {
  margin-bottom: 40px;
  color: var(--grass-color);
}
.col-title {
  margin-bottom: 40px;
  margin-top: 0;
  color: var(--grass-color-alt);
}
.section-title {
  margin-bottom: 32px;
  color: var(--grey-color-dark) !important;
  font-family: open_sansregular !important;
  font-size: 28px;
  font-weight:100 !important;

}
.section-gtitle {
  margin-bottom: 40px;
  color: var(--grass-color);
}
.section-subtitle {
  color: var(--grey-color-light);
}
.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg-lgreen {
  background-color: #eff4e8;
  background-size: cover;
}
.bg-lgr {
  background-color: var(--grass-color-light) !important;
}
.tbld {
  width: 20%;
}
.card {
  min-height: 5rem;
  height: 5rem;
}
table tr td {
  padding: 0 10px 0 10px !important;
}
table img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

#books table tr td:first-child {
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  word-break: break-all;
}

#books table img {
    max-width:7rem !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}
.github {
  background: var(--grass-color-light);
}
.github:hover {
  background: var(--grass-color) !important;
  color: var(--white-color) !important;
}
.command {
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 16px;
}
.github:hover .command {
  color: var(--white-color) !important;
}
.lgreen {
  color: #eff4e8 !important;
}
.htl {
  display: block;
  line-height: 1.2em;
  font-size: 2.6em;
  color: #dde9cc;
}
.htl:hover {
  color: #ffffff;
}
.htd {
  display: block;
  line-height: 1.2em;
  font-size: 2.6em;
}
.htd:hover {
  color: var(--primary-color);
}
.border-primary {
  border-color: #f2f2f2 !important;
}
pre {
  background: transparent;
}
.overlay {
  position: relative;
}
.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--primary-color);
}
.overlayg {
  position: relative;
}
.overlayg::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #eff4e8;
}

.d-unset {
  display: unset !important;
}
.bg-primary {
  background: var(--primary-color) !important;
}
.bg-gray {
  background-color: var(--secondary-color);
}
.bg-white {
  background-color: #FFFFFF;
}
.bg-beige {
  background-color: #f1ebe1;
}

.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--green-color) !important;
}
.text-color {
  color: var(--text-color);
}
.text-dark {
  color: var(--text-color-dark) !important;
}
.text-white {
  color: var(--white-color) !important;
}
.text-grey {
  color: var(--grey-color) !important;
}
.text-bold {
  font-weight: bold;
}
.np {
  padding: 0 !important;
}
.npt {
  padding-top: 0 !important;
}
.npr {
  padding-right: 0 !important;
}
.mbs-10 {
    margin-right: 10px;
    margin-left: 10px;
}
.pds-40 {
  padding: 0 40px 0 40px !important;
}
.pd-5 {
  padding: 5px !important;
}
.pd-10 {
  padding:10px !important;
}
.pd-20 {
  padding: 20px !important;
}
.pdt-20 {
  padding: 3rem 20px 1rem 20px !important;
}
.pd-40 {
  padding: 40px !important;
}
.pdl-0 {
  padding-left: 0 !important;
}
.nm {
  margin: 0 !important;
}
.np {
  padding: 0 !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mb-1-5 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.zindex-1 {
  z-index: 1;
}
.hero-section {
  padding-bottom: 0px;
}
.navbar {
  padding: 0;
  color: var(--text-color-dark);
}
.navbar .nav-item .nav-link {
  text-transform: uppercase;
  padding: 18px 15px !important;
}
.navbar .nav-item .nav-link .text-dark:hover {
  color: var(--primary-color);
}
.navbar .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar .dropdown-menu {
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  padding: 15px;
  border: 0;
  top: 60px;
  left: -25px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  transition: .3s ease;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  background: var(--white-color);
}
@media (max-width: 991px) {
  .navbar .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: unset;
    transform-origin: unset;
  }
}
.navbar .dropdown-menu.view {
  visibility: visible !important;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
}
@media (max-width: 991px) {
  .navbar .dropdown-menu.view {
    display: block;
  }
}
.navbar .dropdown-menu.show {
  visibility: hidden;
}
@media (max-width: 991px) {
  .navbar .dropdown-menu.show {
    visibility: visible;
    display: block;
  }
}
.navbar .dropdown-item {
  position: relative;
  color: var(--text-color-dark);
  transition: .2s ease;
  font-family: open_sansregular;
}
@media (max-width: 991px) {
  .navbar .dropdown-item {
    text-align: center;
  }
}
.navbar .dropdown-item:not(:last-child) {
  margin-bottom: 10px;
}
.navbar .dropdown-item:hover {
  color: var(--primary-color);
  background: transparent;
}
.banner p {
  font-family: open_sansbold;
  font-size: 22px;
  color: #ffffff;
}
.banner .text-dark {
  color: var(--dark-color);
}
.banner .text-dark:hover {
  color: var(--primary-color);
}
.banner .navbar-brand, .navbar-light .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.4s linear;
  -webkit-transition: color 0.4s linear;
  -moz-transition: color 0.4s linear;
}
.banner .navbar-brand i, .navbar-light .navbar-brand i {
  display: inline-block;
  margin-right: 7px;
    color: var(--grass-color) !important;
}

.gitter-banner {
  background: var(--primary-color);
  text-align: center;
  color:whitesmoke;
  font-weight: bolder;
  padding: 2px 15px 3px
}

.gitter-banner a {
  text-decoration: underline !important;
  color: var(--white-color) !important;
}

.navbar-brand {
    color: #000000;
}
.navbar-brand:hover {
  color: var(--grey-color-dark) !important;
}

/* search  form */
/* show only the icon and show the input when focus */
.search-form {
  border-radius: 20px;
  border:0;
  display: flex;
  flex-wrap: nowrap;
  width: 30px;
  transition: .3s ease;
  overflow: hidden;
}

.search-form:focus-within {
  width: 150px;
  outline: 1px solid;
  background-color: white;
}

.search-form:focus-within .search-icon {
  color:var(--grass-color-dark);
}

/* media query to show the full size when toolbar is hidden */
@media (max-width: 991px) {
  .search-form {
    width: 150px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid #ced4da ;
  }
}

.search-input {
  border:0;

  padding-left: 10px;
  transition: .3s ease;
  width: 100%;
  /* remove the outline as it is shown by the surrounding form */
  outline: none !important;
}

.search-icon {
  padding:  0;
  padding-right: 5px;
  margin: 0;
  width: 25px;
  color:var(--grass-color);
}




.fdiv:hover {
  background: var(--grass-color-light) !important;
}
.fdiv:hover h3 {
  color: var(--grass-color-dark);
}
.gdiv:hover {
  background: #ffffff !important;
}
/* search */

#project-icon {
  float: left;
  height: 32px;
  width: 32px;
}
#project-description {
  margin: 0;
  padding: 0;
}
.ui-helper-hidden-accessible {
  display: none;
}
.ui-menu {
  background: var(--white-color);
  padding: 20px;
  right: 0 !important;
  max-height: 200px;
  overflow: hidden;
  border-radius: 6px;
  z-index: 9999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}
@media (min-width: 576px) {
  .ui-menu {
    max-width: 510px !important;
  }
}
@media (min-width: 768px) {
  .ui-menu {
    max-width: 690px !important;
  }
}
@media (min-width: 992px) {
  .ui-menu {
    max-width: 605px !important;
  }
}
@media (min-width: 1200px) {
  .ui-menu {
    max-width: 730px !important;
  }
}
/* /navigation */


.form-control {
  height: 50px;
  border-radius: 30px;
  border: 0;
  padding: 0 20px;
}
.form-control:focus {
  border: 0;
  box-shadow: none !important;
}
textarea.form-control {
  height: 150px;
  padding: 20px;
}
.icon {
  font-size: 40px;
}
.bsh {
  box-shadow: 0 4px 12px rgba(0, 0, 0, .17) !important;
}
.shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  transition: .3s ease;
}
.shadow-bottom {
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
}
.shadow:hover, .shadow:focus {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.1) !important;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

a.ext img.inl {
    margin-bottom:0px;
}

ul {
  padding: 0;
  margin: 0 0 20px 20px;
}
ul li a {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  padding: 2px 0px;
}
ul li.hdl a {
  font-size: 16px !important;
}
.hdlg{
    font-size: 4em !important;
}
.cgr li {
  color: var(--grass-color);
}
.cga li {
  color: var(--grass-color-alt);
}
.entry-meta {
  color: var(--grey-color-light);
  font-size: 16px;
}
.all-posts .entry-title {
  margin:0  !important;
}

h3.entry-title{
    margin-top:15px  !important;
      margin-bottom:10px  !important;
}
.post-meta {
  color: var(--text-color);
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}
blockquote {
  font-size: 20px !important;
  color: var(--text-color-dark);
  padding: 10px 40px;
  border-left: 2px solid var(--grass-color);
  margin: 40px 0;
  background-color: var(--grass-color-light);
}
.list-styled li {
  padding-left: 20px;
  position: relative;
}
.list-styled li::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  opacity: .3;
  left: 0;
  top: 18px;
}
.alert-default {
  color: var(--text-color) !important;
  background: var(--secondary-color);
}
.pagination {
  justify-content: space-between;
}
.pagination a {
  color: var(--primary-color);
}
.pagination i {
  font-size: 12px;
  line-height: 2.9;
}
.sidebar-menu li {
  display: none;
}
.sub-menu li {
  display: block;
}
.sub-menu li a {
  font-size: 15px !important;
  color: var(--text-color);
}
.sub-menu li.active a {
  color: var(--text-color-dark);
}
li.parent::before {
  display: none;
}
li.parent a {
  font-size: 20px;
}
#accordion i {
  font-size: 14px;
  line-height: 2;
}
.tind {
  padding-left: 1em !important;
  color: var(--grey-color-dark);
  font-weight: 600 !important;
}
.card {
  min-height: 4rem !important;
  height: 4rem !important;
}

.panel-title{
    font-size:28px;

}
.panel-title a{
      color: var(--grey-color-dark) !important;
}
.panel-title a:hover{
      color: var(--grey-color-light) !important;
}

.timeline {
  position: relative;
  width: 100%;
  float: left;
  position: relative;
  padding: 0 0 60px 0;
  margin-top: 0;
  margin-top: 4px;
}

.timeline .panel-title a{
      color: var(--text-color) !important;
}
.timeline .panel-title a:hover{
      color: var(--grey-color-dark) !important;
}


  .glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.5em;
    color:var(--grass-color-alt) !important;
  }

  .line {
    position: absolute;
    width: 2px;
    display: block;
    top: 32px;
    bottom: 0px;
    margin-left: 30px;
    background: var(--grass-color-alt) !important;
  }

  .separator {
    border-top: 1px solid #F6F6F6;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: 0.9em;
    margin-left: 30px;
  }

  .line::before {
    top: -2px;
  }

  .line::after {
    bottom: -2px;
  }

  .line::before,
  .line::after {
    content: "";
    position: absolute;
    left: -6px;
    width: 0;
    height: 0;
    display: block;
    border-radius: 50%;
    background: #F6F6F6;
  }


  .timeline .panel {
    position: relative;
    margin: 10px 0px 0px 40px;
    clear: both;
    margin: 0 auto;
    padding: 10px 0px 0 40px;
    background: none;
  }

  .timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: "";
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  .timeline .panel .panel-heading.icon * {
    font-size: 14px;
    vertical-align: middle;
    line-height: 40px;
  }

  .timeline .panel > .panel-heading .icon {
    position: absolute;
    left: 11px;
    /*display: block;*/
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
  }

  .timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
  }

  .timeline .panel-outline .panel-body {
    padding: 10px 0px;
  }


  .timeline .panel-default {
    border: 0;
  }

  .timeline .panel-default > .panel-heading {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0;
    background: none;
    font-weight: 400;
  }

  .timeline .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
    padding-top: 0;
    border-bottom: 0;
  }

  h4.panel-title {
    border: 0;
  }

  .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
  }


.collapsible-link {
    width: 100%;
    display:block;
    text-align: left;
    padding-bottom:9px;
    border-bottom:1px solid #E1E1E1;
}

.collapsible-link::before {
    content: '\f078';
    display: inline-block;
    float:right;
    font-family: 'FontAwesome';
    font-size: 1rem;
    padding:5px;
}

.collapsible-link[aria-expanded='true']::before {
    content: '\f077';
}

.timeline {
  padding: 0;
  margin: 0 !important;
}
.timeline .panel-group{
    display:block;
}

.timeline .glyphicon.glyphicon-one-fine-dot:before {
  content: "\25cf";
  font-size: 1.5em;
  color: #0039a6;
}
.timeline .line {
  position: absolute;
  width: 2px;
  display: block;
  top: 32px;
  bottom: 0px;
  margin-left: 15px;
  background: #0039a6;
}
.timeline .separator {
  border-top: 1px solid red;
  padding: 1px;
  padding-left: 40px;
  font-style: italic;
  font-size: 0.9em;
  margin-left: 1px;
}

.timeline .line::before,
.timeline .line::after {
  content: "";
  position: absolute;
  left: -26px;
  width: 0;
  height: 0;
  display: block;
  border-radius: 50%;
  background: #0039a6;
}
.timeline .panel {
  position: relative;
  margin: 10px 0px 0px 40px;
  clear: both;
  margin: 0 auto;
  padding: 10px 0px 0 40px;
  background: none;
}
.timeline .panel::before {
  position: absolute;
  display: block;
  top: 8px;
  left: -4px;
  content: "";
  width: 0px;
  height: 0px;
  border: inherit;
  border-width: 12px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.timeline .panel .panel-heading.icon * {
  font-size: 14px;
  vertical-align: top;
  line-height: 40px;
}
.timeline .panel > .panel-heading .icon {
  position: absolute;
  left: -4px;
  top:-14px;
  /*display: block;*/
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  float: left;
}

.timeline .panel-outline {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}
.timeline .panel-outline .panel-body {
  padding: 10px 10px;
}

.timeline .panel-default {
  border: 0;
}
.timeline .panel-default > .panel-heading {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0;
}

.edt {
  font-family: open_sansregular !important;
}

nobullets {
   list-style-type: none;
}

.hljs {
   background:#ebeaea;
   color: #1d1f21;
}

.hljs-keyword{
   color: #1d1f21;
}

code{
   color: #1d1f21;
}

.fa-11x {
  font-size: 11em;
}

.fa-9x {
  font-size: 9em;
}

.fa-7x {
  font-size: 7em;
}

.event-title {
   margin-top: 5px;
}

.height80 {
   height: 80vh;
}

.grasscolor{
   color: var(--grass-color);
}


.event-title {
   margin-top: 5px;
}

.height80 {
   height: 80vh;
}

.grasscolor{
   color: var(--grass-color);
}

.grassthm{
    border:1px solid #dee2e6;
    background:url(/images/logos/banner.jpg);
    background-size:cover;
    height:269px;
    z-index:1;
}
.grassthm img{
    position:absolute;
    left:50%;
    top:13%;
    margin-left:-80px;
    z-index:1;
}

.grassthm-sq{
    border:1px solid #dee2e6;
    background:url(/images/logos/banner.jpg);
    background-size:cover;
    height:199px;
    z-index:1;
}
.grassthm-sq img{
    position:absolute;
    left:50%;
    top:13%;
    margin-left:-59px;
    z-index:1;
}
.mt-95 {
    /* This equals the fixed hight of the gitter banner and the nav bar
     96.8px when the base font size of the document is (16px) */
    margin-top: 6.05rem;
}

#carouselUI .carousel-inner .carousel-item .container.position-relative .row.justify-content-center {
  bottom: 0;
  background: rgba(255, 255, 255, 0.8)
  /* background: radial-gradient(circle, var(--white-color) 80%, transparent 90%); */
}

@media (max-width: 576px) {

  body {
  font-size: 14px !important;
  }
  .navbar .nav-item .nav-link {
    padding: 9px 9px !important;
  }
  .navbar .dropdown-item:not(:last-child) {
    margin-bottom: 6px;
  }
  .grasslogo{
     width: 85%;
  }
  .nm{
    padding: .75rem !important;
  }

  h1, .h1 {
  font-size: 28px !important;
  }
  h2, .h2 {
  font-size: 24px !important;
  }
  h3, .h3 {
  font-size: 22px !important;
  margin-top: 20px;
  }
  h4, .h4 {
  font-size: 18px;
  }
  h5, .h5 {
  font-size: 16px;
  }
  h6, .h6 {
  font-size: 14px;
  }
  p, .paragraph {
  font-size: 14px;
  }
  ul li, ul li a {
  font-size: 14px;
  }

  .banner p {
    font-size:18px;
    padding: 1rem;
  }

  .page-title {
      margin-left:2px !important;
  }

  .section {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
   }

  .section-title {
    margin-bottom: 32px;
    font-size: 22px !important;
  }
  .hero-section {
    padding-bottom: 0px;
  }

  .mb-40 {
    margin-bottom: 20px !important;
  }

  #links li span a {
    font-size: 15px !important;
  }
  .entry-meta {
    font-size: 14px !important;
  }

  #books table tr td:first-child {
  width: 5rem !important;
  min-width: 5rem  !important;
  max-width:5rem  !important;
  word-break: break-all;
  }

  #books table img {
   max-width:4rem !important;
  }

  #books table tr td {
   padding: 0 !important;
   font-size: 0.85em !important;
  }


}

@media (min-width: 600px) {
  .grasslogo {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .grasslogo {
    width: 49%;
  }
}

@media (min-width: 992px) {
  .grasslogo {
    width: 31%;
  }
}

.member {
  margin: 10px;
  text-align: center;
  background: linear-gradient(to bottom, var(--grass-color-light) 15%, transparent 50%);
}

.member img {
  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 4px solid var(--grass-color-dark); */
}
