body {
  line-height: 1.8;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--secondary-color);
}
main {
  display: block;
}
p, .paragraph {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.8;
  font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
h1, .h1 {
  font-size: 36px;
  color: var(--grey-color-light);
}
h2, .h2 {
  font-size: 32px;
  color: var(--grass-color);
}
h3, .h3 {
  font-size: 26px;
}
h4, .h4 {
  font-size: 20px;
}
h5, .h5 {
  font-size: 18px;
}
h6, .h6 {
  font-size: 14px;
}
.dbl {
  display: block !important;
}
.inl {
  display: inline-block !important;
}
.dil li a {
  display: inline-block !important;
}
.cap {
  text-transform: capitalize;
}
a.nws {
  color: var(--grey-color) !important;
  font-weight: 400;
}
a.nws:hover {
  color: var(--grass-color-dark) !important;
}
.entry-title:nth-of-type(1)>a {
  font-weight: 700 !important;
}
.grass-green {
  color: var(--primary-color);
}
.grass-green-bg {
  background: var(--grass-color);
}
.grass-green-alt {
  color: var(--grass-color-alt);
}
.grass-green-alt-bg {
  background: var(--grass-color-alt);
}
.grass-green-light {
  color: var(--grass-color-light);
}
.grass-green-light-bg {
  background: var(--grass-color-light);
}
.grass-green-dark {
  color: var(--grass-color-dark);
}
.grass-green-dark-bg {
  background: var(--grass-color-dark);
}
.white-color {
  color: #FFF;
}
.white-color-bg {
  background: #FFF;
}
.black-color {
  color: #000;
}
.black-color-bg {
  background: #000;
}
.grey-color-dark {
  color: var(--grey-color-dark);
}
.grey-color-dark-bg {
  background: var(--grey-color-dark);
}
.grey-color-light {
  color: var(--grey-color-light);
}
.grey-color-light-bg {
  background: var(--grey-color-light);
}
.mwl {
  display: inline-block;
  min-width: 45%;
}
.version li {
  margin-bottom: 9px;
}
.version li>a {
  margin-right: 7px;
}
#links li span a {
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 0px 0;
}
.btn {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 6px 14px;
  border-radius: 0px;
  font-weight: 400;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn:active {
  box-shadow: none;
}
.btn-primary {
  background: var(--grass-color-alt);
  color: var(--white-color);
}
.btn-primary:hover {
  background: var(--grass-color);
  color: var(--white-color) !important;
}
.btn-primary:active {
  background: var(--grass-color);
}
.btn-primary:hover {
  background: var(--grass-color);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-secondary {
  background: var(--grey-color-light);
  color: var(--white-color);
}
.btn-secondary:active {
  background: var(--grey-color-dark);
}
.btn-secondary:hover {
  background: var(--grey-color-dark);
  color: var(--white-color) !important;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: var(--white-color);
  background-color: var(--grey-color);
  border-color: var(--grey-color);
}
body {
  background-color: var(--white-color);
  overflow-x: hidden;
}
/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-color);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol, ul {
  margin: 0px;
}
img {
  vertical-align: middle;
  border: 0;
}
img[src*="#grass"] {
  display: inline-block !important;
  margin: 0px;
}
img {
  vertical-align: middle;
  border: 0;
}
img[src*="#grass"] {
  width: 399px;
  height: 100px;
  display: inline-block;
}
a, a:focus, a:hover {
  text-decoration: none !important;
}
a, a:focus {
  color: var(--grass-color);
}
a:hover {
  color: var(--grass-color-dark) !important;
}
a, button, select {
  cursor: pointer;
  transition: .2s ease;
}
a:focus, button:focus, select:focus {
  outline: 0;
}
.slick-slide {
  outline: 0;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-title {
  margin-bottom: 40px;
  color: var(--grass-color);
}
.col-title {
  margin-bottom: 40px;
  margin-top: 0;
  color: var(--grass-color-alt);
}
.section-title {
  margin-bottom: 40px;
  color: var(--grey-color-light) !important;
  font-weight: 400;
}
.section-gtitle {
  margin-bottom: 40px;
  color: var(--grass-color);
}
.section-subtitle {
  color: var(--grey-color-light);
}
.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg-lgreen {
  background-color: #eff4e8;
  background-size: cover;
}
.bg-lgr {
  background-color: var(--grass-color-light) !important;
}
.tbld {
  width: 20%;
}
.card {
  min-height: 5rem;
  height: 5rem;
}
table tr td {
  padding: 0 10px 0 10px !important;
}
table img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}
.github {
  background: var(--grass-color-light);
}
.github:hover {
  background: var(--grass-color) !important;
  color: var(--white-color) !important;
}
.command {
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 16px;
}
.github:hover .command {
  color: var(--white-color) !important;
}
.lgreen {
  color: #eff4e8 !important;
}
.htl {
  display: block;
  line-height: 1.2em;
  font-size: 2.6em;
  color: #dde9cc;
}
.htl:hover {
  color: #ffffff;
}
.htd {
  display: block;
  line-height: 1.2em;
  font-size: 2.6em;
}
.htd:hover {
  color: var(--primary-color);
}
.border-primary {
  border-color: #f2f2f2 !important;
}
pre {
  background: transparent;
}
.overlay {
  position: relative;
}
.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 0.47) 59%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 0.47) 59%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 0.47) 59%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
}
.overlayg {
  position: relative;
}
.overlayg::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #eff4e8;
}
.outline-0 {
  outline: 0 !important;
}
.d-unset {
  display: unset !important;
}
.bg-primary {
  background: var(--primary-color) !important;
}
.bg-gray {
  background-color: var(--secondary-color);
}
.bg-white {
  background-color: #FFFFFF;
}
.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--green-color) !important;
}
.text-color {
  color: var(--text-color);
}
.text-dark {
  color: var(--text-color-dark) !important;
}
.text-white {
  color: var(--white-color) !important;
}
.text-grey {
  color: var(--grey-color) !important;
}
.text-bold {
  font-weight: bold;
}
.np {
  padding: 0 !important;
}
.npt {
  padding-top: 0 !important;
}
.npr {
  padding-right: 0 !important;
}
padding-right .pds-40 {
  padding: 0 40px 0 40px !important;
}
.pd-20 {
  padding: 20px !important;
}
.pd-40 {
  padding: 40px !important;
}
.pdl-0 {
  padding-left: 0 !important;
}
.nm {
  margin: 0 !important;
}
.np {
  padding: 0 !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-1-5 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.zindex-1 {
  z-index: 1;
}
.hero-section {
  padding-bottom: 50px;
}
.navbar {
  padding: 0;
  color: var(--text-color-dark);
}
.navbar .nav-item .nav-link {
  text-transform: uppercase;
  padding: 18px 15px !important;
}
.navbar .nav-item .nav-link .text-dark:hover {
  color: var(--primary-color);
}
.navbar .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar .dropdown-menu {
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  padding: 15px;
  border: 0;
  top: 60px;
  left: -25px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  transition: .3s ease;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  background: var(--white-color);
}
@media (max-width: 991px) {
  .navbar .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: unset;
    transform-origin: unset;
  }
}
.navbar .dropdown-menu.view {
  visibility: visible !important;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
}
@media (max-width: 991px) {
  .navbar .dropdown-menu.view {
    display: block;
  }
}
.navbar .dropdown-menu.show {
  visibility: hidden;
}
@media (max-width: 991px) {
  .navbar .dropdown-menu.show {
    visibility: visible;
    display: block;
  }
}
.navbar .dropdown-item {
  position: relative;
  color: var(--text-color-dark);
  transition: .2s ease;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 991px) {
  .navbar .dropdown-item {
    text-align: center;
  }
}
.navbar .dropdown-item:not(:last-child) {
  margin-bottom: 10px;
}
.navbar .dropdown-item:hover {
  color: var(--primary-color);
  background: transparent;
}
.banner p {
  font-size: 24px;
  color: #000000;
  background: rgba(255, 255, 255, .45)
}
.banner .text-dark {
  color: var(--dark-color);
}
.banner .text-dark:hover {
  color: var(--primary-color);
}
.banner .navbar-brand, .navbar-light .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .navbar-brand i, .navbar-light .navbar-brand i {
  display: inline-block;
  margin-right: 7px;
}
.navbar-brand {
  color: var(--grass-color) !important;
}
.navbar-brand:hover {
  color: var(--grey-color-dark) !important;
}
.fdiv:hover {
  background: var(--grass-color-light) !important;
}
.fdiv:hover h3 {
  color: var(--grass-color-dark);
  !important;
}
.gdiv:hover {
  background: #ffffff !important;
}
/* search */

#project-icon {
  float: left;
  height: 32px;
  width: 32px;
}
#project-description {
  margin: 0;
  padding: 0;
}
.ui-helper-hidden-accessible {
  display: none;
}
.ui-menu {
  background: var(--white-color);
  padding: 20px;
  right: 0 !important;
  max-height: 200px;
  overflow: hidden;
  border-radius: 6px;
  z-index: 9999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}
@media (min-width: 576px) {
  .ui-menu {
    max-width: 510px !important;
  }
}
@media (min-width: 768px) {
  .ui-menu {
    max-width: 690px !important;
  }
}
@media (min-width: 992px) {
  .ui-menu {
    max-width: 605px !important;
  }
}
@media (min-width: 1200px) {
  .ui-menu {
    max-width: 730px !important;
  }
}
/* /navigation */

.breadcrumb {
  margin-bottom: 0 !important;
}
ul.breadcrumb {
  padding: 2px 6px 2px 0;
  list-style: none;
  background-color: #eee;
  margin-bottom: 0 !important;
  color: var(--grey-color-light) !important;
}
/* Display list items side by side */

ul.breadcrumb li {
  display: inline-block;
  font-size: 18px;
}
ul.breadcrumb li a {
  color: var(--grey-color-light) !important;
}
ul.breadcrumb li a:hover {
  color: var(--grass-color-dark) !important;
}
/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
  padding: 6px;
  content: "/\00a0";
}
ul.breadcrumb>li>i {
  display: inline-block !important;
  font-size: .85em;
}
/* Add a color to all links inside the list */

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  display: inline-block !important;
}
/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.form-control {
  height: 50px;
  border-radius: 30px;
  border: 0;
  padding: 0 20px;
}
.form-control:focus {
  border: 0;
  box-shadow: none !important;
}
textarea.form-control {
  height: 150px;
  padding: 20px;
}
.icon {
  font-size: 40px;
}
.bsh {
  box-shadow: 0 4px 12px rgba(0, 0, 0, .17) !important;
}
.shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  transition: .3s ease;
}
.shadow-bottom {
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
}
.shadow:hover, .shadow:focus {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.1) !important;
}
h2 {
  margin-bottom: 30px;
}
h3 {
  margin-top: 40px;
  margin-bottom: 15px;
}
h4 {
  margin-bottom: 15px;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
ul {
  padding-left: 0;
  margin-bottom: 20px;
}
ul li a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
}
.cgr li {
  color: var(--grass-color);
}
.cga li {
  color: var(--grass-color-alt);
}
.entry-meta {
  color: var(--grey-color-light);
  font-size: 16px;
}
.entry-title {
  margin-bottom: 5px;
}
margin-top: 40px;
margin-bottom: 15px;
.post-meta {
  color: var(--text-color);
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}
blockquote {
  font-size: 20px !important;
  color: var(--text-color-dark);
  padding: 10px 40px;
  border-left: 2px solid var(--grass-color);
  margin: 40px 0;
  font-weight: bold;
}
.list-styled li {
  padding-left: 20px;
  position: relative;
}
.list-styled li::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  opacity: .3;
  left: 0;
  top: 18px;
}
.alert-default {
  color: var(--text-color) !important;
  background: var(--secondary-color);
}
.pagination {
  justify-content: space-between;
}
.pagination a {
  color: var(--primary-color);
}
.pagination i {
  font-size: 12px;
  line-height: 2.9;
}
.sidebar-menu li {
  display: none;
}
.sub-menu li {
  display: block;
}
.sub-menu li a {
  font-size: 15px !important;
  color: var(--text-color);
}
.sub-menu li.active a {
  color: var(--text-color-dark);
}
li.parent::before {
  display: none;
}
li.parent a {
  font-size: 20px;
}
#accordion i {
  font-size: 14px;
  line-height: 2;
}
.tind {
  padding-left: 1em !important;
  color: var(--grey-color-dark);
  font-weight: 600 !important;
}
.card {
  min-height: 4rem !important;
  height: 4rem !important;
}

.edt {
     font-family: "Open Sans", sans-serif !important;
}
