{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}


<!-- details page -->
<section class="single pt-5 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="p-4 bg-book sticky-top text-center">
             <img src="/images/grasslogo.svg" width="45%" alt="GRASS GIS" />
        </div>
      </div>
      <div class="col-lg-8">
        <div class="p-5 bg-white">
            <h2 class="page-title">{{ .Title }}</h2>
            {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->

{{ partial "footer.html" . }}