{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-white">
      <div class="container bg-white">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<section class="pt-4 bg-gray mt-95">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">#Download</h2>
            </div>
        </div>
    </div>
    
    <!-- Download Tab Sections -->
    <div class="container download-grass">
        <ul class="nav nav-tabs" id="downloadTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="linux-tab" data-toggle="tab" href="#linux" role="tab" aria-controls="linux" aria-selected="true">Linux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="mac-tab" data-toggle="tab" href="#mac" role="tab" aria-controls="mac" aria-selected="false">Mac</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="windows-tab" data-toggle="tab" href="#windows" role="tab" aria-controls="windows" aria-selected="false">Windows</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="windows-tab" data-toggle="tab" href="#docker" role="tab" aria-controls="docker" aria-selected="false">Docker</a>
            </li>
        </ul>
        <div class="tab-content" id="downloadTabContent">
            <!-- Linux Section -->
            <div class="tab-pane fade show active" id="linux" role="tabpanel" aria-labelledby="linux-tab">
              <!-- {{ with .Site.GetPage "download" "linux" }}{{ .Content }}{{ end }} -->
              {{ $download_data := dict "os" "Linux" "url" "https://github.com/OSGeo/grass/releases/tag/8.4.0" "version" .Site.Data.grass.current_version }}
              {{ partial "grass-download.html" $download_data }}
              <h2>Installation</h2>
              {{ range $key, $value := .Site.Data.grass.install.linux }}
                {{ partial "code-copy.html" $value }}
              {{ end }}
            </div>

            <!-- Mac Section -->
            <div class="tab-pane fade" id="mac" role="tabpanel" aria-labelledby="mac-tab">
              {{ $download_data := dict "os" "Mac" "url" "https://cmbarton.github.io/grass-mac/download/" "version" .Site.Data.grass.current_version }}
              {{ partial "grass-download.html" $download_data }}
              {{ partial "code-copy.html" .Site.Data.grass.install.mac.mac_ports }}
            </div>

            <!-- Windows Section -->
            <div class="tab-pane fade" id="windows" role="tabpanel" aria-labelledby="windows-tab">
              {{ $windows_url := printf "/grass%s/binary/mswindows/native/WinGRASS-%s-1-Setup.exe" .Site.Data.grass.current_version_nodots .Site.Data.grass.current_version }}
              {{ $download_data := dict "os" "Windows" "url" $windows_url "version" .Site.Data.grass.current_version }}
              {{ partial "grass-download.html" $download_data }}
              <!-- Add text-center class to center the button -->
              <!-- <div class="pt-5"> 
                <p class="text-center">
                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseWindowsAdditionalOptions" aria-expanded="false" aria-controls="collapseWindowsAdditionalOptions">
                        Additional Options
                    </button>
                </p>
              </div> -->
              <!-- <div class="container collapse" id="collapseWindowsAdditionalOptions"> -->
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <h3>Additional Options</h3>
                    <div class="row mb-5 text-primary">
                      <div class="col-12">
                        <h4>OSGeo4W</h4>
                        <p>OSGeo4W is an installer for a broad set of open source geospatial software packages including GRASS GIS as well as many other packages (QGIS, GDAL/OGR, and more).</p>
                        <a href="https://download.osgeo.org/osgeo4w/v2/osgeo4w-setup.exe" target="_blank"><i class="fa-solid fa-download"></i> Download OSGeo4W v2</a>
                      </div>
                    </div>
                    <div class="row mb-5 text-primary">
                      <div class="col-12">
                        <h4>QGIS users</h4>
                        <p>In order to have GRASS GIS support (also in QGIS-Processing) you need to install the “qgis*-grass-plugin” packages.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Docker Section -->
            <div class="tab-pane fade" id="docker" role="tabpanel" aria-labelledby="docker-tab">
              <!-- {{ with .Site.GetPage "download" "docker" }}{{ .Content }}{{ end }} -->
              {{ $download_data := dict "os" "Docker" "url" "https://hub.docker.com/r/osgeo/grass-gis/" "version" .Site.Data.grass.current_version }}
              {{ partial "grass-download.html" $download_data }}

              <h2>Installation</h2>

              {{ range $key, $value := .Site.Data.grass.install.docker }}
                {{ partial "code-copy.html" $value }}
              {{ end }}

              <h2>Docker</h2>

              <p>Build a docker image using the downloaded source code (run this in the directory containing the source code):</p>
              
              <h3>A. Docker image <strong>without graphical user interface - wxGUI</strong></h3>
              
              <pre><code>docker build -t grassgis .</code></pre>
              
              <p>A test run (assuming you have the existing GRASS GIS test location; it can be downloaded from 
              <a href="https://grass.osgeo.org/sampledata/north_carolina/nc_basic_spm_grass7.zip">here</a>)</p>
              
              <pre><code># case 1: launching in the grassdata directory in which the location is stored:
              docker run -it --rm --user=$(id -u):$(id -g) --volume $(pwd):/data \
                  --env HOME=/data/ grassgis grass --text nc_basic_spm_grass7/user1 \
                      --exec g.region -p
              
              # case 2: launching anywhere
              docker run -it --rm --user=$(id -u):$(id -g) \
                  --volume /your/test/grassdata/:/data --env HOME=/data/ grassgis \
                      grass /data/nc_basic_spm_grass7/PERMANENT --exec g.region -p
              </code></pre>
              
              <p>Note that the first <code>grassgis</code> is the name of the image while the second <code>grass</code> is the name of the executable.</p>
              
              <p>To run the tests (again assuming local location):</p>
              
              <pre><code># case 1: launching in the grassdata directory in which the location is stored:
              docker run -it --rm --user=$(id -u):$(id -g) --volume $(pwd):/data \
                  --env HOME=/data/ grassgis grass --text nc_basic_spm_grass7/user1 \
                      --exec g.region -p
              
              # case 2: launching anywhere
              docker run -it --rm --user=$(id -u):$(id -g) \
                  --volume /your/test/grassdata/:/data --env HOME=/data/ -w /code/grass \
                      grassgis grass /data/nc_basic_spm_grass7/PERMANENT --exec \
                          python -m grass.gunittest.main \
                              --location nc_basic_spm_grass7 --location-type nc
              </code></pre>
              
              <h3>B. Docker image <strong>with graphical user interface - wxGUI</strong></h3>
              
              <pre><code>docker build -t grassgis -f docker/ubuntu_wxgui/Dockerfile .</code></pre>
              
              <p>Note that the first <code>grassgis</code> is the name of the image while the second <code>grass</code> is the name of the executable.</p>
              
              <pre><code>xhost local:$(id -u)
              docker run -it --privileged --user=$(id -u):$(id -g) --rm \
                  --volume="$(pwd)/:/data" --volume="/tmp/.X11-unix:/tmp/.X11-unix:rw" \
                  --env HOME=/data/ --env DISPLAY=$DISPLAY \
                  --device="/dev/dri/card0:/dev/dri/card0" \
                  grassgis grass --gui
              </code></pre>
              
              <p>Note: If you compiled locally before building the Docker image, you may encounter problems as the local configuration and the locally compiled files are copied to and used in the Docker image. To make sure you don't have this issue, clean all the compiled files from the source code:</p>
              
              <pre><code>make distclean</code></pre>
              
  
          </div>
            </div>


    </div>
</section>


{{ partial "footer.html" . }}