{{ partial "head.html" . }}


{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-primary">
      <div class="container bg-primary">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

  <section class="single section bg-gray pb-0 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="p-4 bg-lgr sticky-top">
            <nav class="sidebar-menu">
              <div class="list-styled">
                <h3 class="mt-20">Categories</h3>
              </div>
            </nav>
	      <ul class="list-unstyled">
		<li><a href="#user-interface"><i class="ms ms-laptop ms-fw"></i> User Interface</a></li>
		<li><a href="#vector-support"><i class="ms ms-vector ms-fw"></i>  &#160;Vector support</a></li>
	       <li><a href="#raster-support"><i class="ms ms-raster ms-fw"></i> &#160;Raster support</a></li>
	       <li><a href="#3d-support"><i class="ms ms-data-cube-o ms-fw"></i> &#160;3D support</a></li>
	       <li><a href="#lidar-support"><i class="ms ms-data-cube ms-fw"></i> &#160;Lidar and Point Cloud support</a></li>
	       <li><a href="#remote-sensing"><i class="ms ms-img-o ms-fw"></i> &#160;Remote sensing</a></li>
	       <li><a href="#cartography"><i class="ms ms-map-o ms-fw"></i> &#160;Cartography</a></li>
	     </ul>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="p-5 bg-white">
	    <h2 class="page-title">{{ .Description }}</h2>
	   {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    </section>

  {{ partial "footer.html" . }}
