{{ partial "head.html" . }}
{{ partial "banner.html" . }}


{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}


<!-- page title -->
<section class="section bg-lgr">
  <div class="container">
    <div class="row">
    <div class="col-lg-8 mx-auto text-center">   
       <h1 class="grass-green cap">{{.Section}}</h1>
      </div>
    </div>
  </div>
</section>
<section class="bg-white pb-0">
 {{ partial "breadcrumb.html" . }}
</section>
<section class="single section bg-gray pb-0">
  <div class="container">
    <div class="row">
    <div class="col-lg-8">
      <div class="p-5 bg-white">
	<h2 class="page-title">{{ .Title }}</h2>
        {{ .Content }}
      </div>
    </div>
    <div class="col-lg-4">
      <div class="p-5 bg-white">
	<h3 class="col-title">Quick links</h3>
       {{ partial "quicklinks.html" . }}
      </div>
     </div>
    </div>
  </div>
</section>
<!-- /details page -->


{{ partial "footer.html" . }}