{{ define "header" }}
{{ partial "page-header.html" (dict "page" . "banner" false "bg" "bg-white" "container" "container bg-white") }}
{{ end }}

{{ define "main" }}
<!-- details page -->
<section class="single pt-5 bg-gray mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="p-4 bg-white sticky-top">
            {{$currentNode := .}}
            <nav class="sidebar-menu">
              <ul class="list-styled">
                {{- range .Site.Sections.ByWeight -}}
                  {{ partial "sidebar-menu.html" (dict "sect" . "currentnode" $currentNode) }}
                {{- end -}}
              </ul>
            </nav>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="p-5 bg-white">
            <h1 class="page-title">{{ .Title }}</h1>
            {{ .Content }}
            <p class="post-meta border-bottom pb-3 mb-0">Updated on {{ .PublishDate.Format "02 Jan 2006" }}</p>
            {{- $currentNode := . -}}
            <nav class="pagination mt-3">
            {{- partial "prev-next.html" (dict "menu" .Site.Home "currentnode" $currentNode "menu_exclusion" .Site.Params.menu_exclusion) -}}
            {{- with ($.Scratch.Get "prevPage") -}}
            <a class="nav nav-prev" href="{{ .Permalink }}" title="{{ .Title }}"><i class=" fa fa-arrow-left  me-2"></i>{{ .Title }}</a>
            {{ end -}}
            {{- with ($.Scratch.Get "nextPage") -}}
            <a class="nav nav-next" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}<i class="fa fa-arrow-right  ms-2"></i></a>
            {{- end }}
            </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->
{{ end }}
