{{ partial "head.html" . }}


{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<!-- page title -->
<section class="section bg-lgr">
  <div class="container">
    <div class="row">
    <div class="col-lg-8 mx-auto text-center">      
       <h1 class="grass-green cap">{{ .Section}}</h1>
      </div>
    </div>
  </div>
</section>
  
  <section class="bg-white pb-0">
   {{ partial "breadcrumb.html" . }}
  </section>
   
  <section class="single section bg-gray pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="p-5 bg-white">
            <h2 class="page-title">{{ .Title }}</h2>{{ .Content }}
          </div>
        </div>
         <div class="col-lg-4">
          <div class="p-4 bg-lgr">
            <nav class="sidebar-menu">

                <h3>Quick links</h3>

            </nav>
            <ul class="list-unstyled">
	      <li><i class="fa fa-file-text"></i> &#160;<a href="https://grass.osgeo.org/programming7/" target="_blank">Developer manual</a></li>
	      <li><i class="fa fa-github"></i> &#160;<a href="https://github.com/OSGeo/grass/" target="_blank"> Source code</a></li>
	      <li><i class="fa fa-bug"></i> &#160;<a href="https://github.com/OSGeo/grass/issues" target="_blank"> Bug Tracker</a></li>
              <li><i class="ms ms-grass-gis"></i> &#160;<a href="https://trac.osgeo.org/grass/wiki/HowToContribute" target="_blank"> How to contribute</a></li>
            </ul>
          </div>
	 </div>
      </div>
    </div>
    </section>
    
  {{ partial "footer.html" . }}
