{{ partial "head.html" . }}


{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-white">
      <div class="container bg-white">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}


  <section class="single section bg-gray pb-0 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="p-5 bg-white">
            <h2 class="page-title">{{ .Title }}</h2>{{ .Content }}
          </div>
        </div>
         <div class="col-lg-4">
          <div class="p-4 bg-lgr">
            <nav class="sidebar-menu">

                <h3>Quick links</h3>

            </nav>
            <ul class="list-unstyled">
	            <li><i class="ms ms-grass-gis"></i> &#160;<a href="https://github.com/OSGeo/grass/blob/master/CONTRIBUTING.md" target="_blank">How to contribute</a></li>
                <li><i class="fa fa-gears"></i> &#160;<a href="https://grasswiki.osgeo.org/wiki/GRASS_GIS_APIs" target="_blank">API's wiki page</a></li>
                <li><i class="fa fa-file-text"></i> &#160;<a href="https://grass.osgeo.org/programming8/" target="_blank">Developer manual</a></li>
                <li><i class="fa fa-code"></i> &#160;<a href="https://trac.osgeo.org/grass/wiki/Submitting" target="_blank">Submitting guidelines</a></li>
                <li><i class="fa fa-code-fork"></i> &#160;<a href="https://trac.osgeo.org/grass/wiki/HowToGit" target="_blank">How to use git</a></li>
	            <li><i class="fab fa-github"></i> &#160;<a href="https://github.com/OSGeo/grass/" target="_blank">Source code</a></li>
	            <li><i class="fa fa-bug"></i> &#160;<a href="https://github.com/OSGeo/grass/issues" target="_blank">Bug Tracker</a></li>
                <li><i class="fa fa-file-code"></i> &#160;<a href="https://github.com/wenzeslaus/foss4g-2022-developing-custom-grass-tools" target="_blank">Write your own tools</a></li>
                <li><i class="fab fa-github"></i> &#160;<a href="https://github.com/OSGeo/grass/discussions" target="_blank">GitHub Discussions</a></li>
	            <li><i class="fa fa-envelope"></i> &#160;<a href="https://lists.osgeo.org/listinfo/grass-dev" target="_blank">GRASS Developers Mailing list</a></li>
                </ul>
          </div>
	 </div>
      </div>
    </div>
    </section>

  {{ partial "footer.html" . }}
