{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="bg-lgr">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

    
<section class="bg-lgr">
<div class="container">
    <div class="row">
      <div class="col-lg-8 text-center mx-auto mb-4">
        <h1 class="mt-4 mb-3"><img src="{{.Site.BaseURL}}/images/grasslogo.svg" width="33%" alt="GRASS GIS"></h1> 
      </div>
    </div>
  </div>
<section>
    
<section class="pt-4 bg-gray">
  <div class="container">
  <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Contribute to open source geospatial</h2>

	</div>
    </div>
    </div>


    
<div class="container">
 <div class="row justify-content-center">

       <div class="col-lg-12 col-sm-6 mb-4">
	 <span class="px-4 py-4 bg-white d-block gdiv">
             {{ .Content }}
            </a>
       </div>
</div>   
</div>



      


{{ partial "footer.html" . }}