{{ partial "head.html" . }}


{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-white">
      <div class="container bg-white">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}


<!-- details page -->
<section class="single section bg-gray pb-0 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="p-5 bg-white">
	      <h2 class="page-title">Brand Guide</h2>
	      {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>


{{ partial "footer.html" . }}