{{ partial "head.html" . }}
{{ partial "banner.html" . }}


{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}



<!-- details page -->
<section class="single section bg-gray pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
      <div class="p-5 bg-white">
	      <h2 class="page-title">Welcome !</h2>
	      {{ .Content }}
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
	<figure class="text-center nm">
	<img src="/images/gallery/community/2017_grass-devteam_paris.jpg" alt="GRASS GIS dev team">
	<label class="nm"><small><i>Some of the GRASS dev team members</i></small></label>
	</figure>
      <div class="mt-20">	
	{{ partial "wiki.html" . }}
      <div class="mt-30">
	{{ partial "osgeo.html" . }}
      </div>
      <div class="mt-30">
	{{ partial "foss4g.html" . }}
      </div>
    </div>
    </div>
  </div>
</section>


{{ partial "footer.html" . }}