{{ partial "head.html" . }}


{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-white">
      <div class="container bg-white">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
/header>
{{ "<!-- /navigation -->" | safeHTML }}



<!-- details page -->
<section class="single section bg-gray pb-0 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
      <div class="p-5 bg-white">
	      <h2 class="page-title">GRASS GIS website</h2>
	      {{ .Content }}
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
	{{ partial "osgeo.html" . }}
      <div class="mt-30">
	{{ partial "brand.html" . }}
      </div>
      <div class="mt-30">
	{{ partial "foss4g.html" . }}
      </div>
    </div>
    </div>
  </div>
</section>


{{ partial "footer.html" . }}