{{ define "main" }}
    <section class="section">
      <section class="pt-4 bg-gray mt-95">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h1 class="section-title">About GRASS</h1>
            </div>
          </div>
        </div>
	      <div class="container">
          <div class="row">
            <div class="col-12 bg-white mb-4">
              <p><b>GRASS</b>
                is a powerful computational engine for raster, vector, and geospatial processing.
                It supports terrain and ecosystem modeling, hydrology, data management, and imagery processing.
                With a built-in temporal framework and Python API, it enables advanced time series analysis
                and rapid geospatial programming, optimized for large-scale analysis on various hardware configurations.</p>
            </div>
          </div>
	      </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
	      {{ range where .RegularPages "File.Dir" "about/" }}
              <div class="section bg-white mb-4">
                <div class="row nm">
                  <div class="col-1 text-center"><i class="fa fa-file-text fa-3x grey-color-light"></i></div>
                  <div class="col-11">
		    <h2 class="mt-2 mb-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                  </div>
                </div>
		</div>
	       {{ end }}
            </div>
          </div>
        </div>
      </section>
    </section>
{{ end }}
