{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="fixed-top">
    {{ partial "banner.html" . }}
    <div class="bg-white">
      <div class="container bg-white">
        {{ partial "navigation.html" . }}
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}


    <section class="section">
      <section class="pt-4 bg-gray mt-95">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="section-title">About GRASS GIS</h2>
            </div>
          </div>
        </div>
	      <div class="container">
          <div class="row">
            <div class="col-12 bg-white mb-4">
              <p><b>GRASS GIS</b>
                is a powerful computational engine for raster, vector, and geospatial processing.
                It supports terrain and ecosystem modeling, hydrology, data management, and imagery processing.
                With a built-in temporal framework and Python API, it enables advanced time series analysis
                and rapid geospatial programming, optimized for large-scale analysis on various hardware configurations.</p>
            </div>
          </div>
	      </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
	      {{ range where .Pages "File.Dir" "in" "/about/" }}
              <div class="section bg-white mb-4">
                <div class="row nm">
                  <div class="col-1 text-center"><i class="fa fa-file-text fa-3x grey-color-light"></i></div>
                  <div class="col-11">
		    <h3 class="mt-2 mb-2"><a href="{{.File.TranslationBaseName}}">{{ .Title }}</a></h3>
                  </div>
                </div>
		</div>
	       {{ end }}
            </div>
          </div>
        </div>
      </section>{{ partial "footer.html" . }}
    </section>
  </section>
</body>
</html>
