  {{ partial "head.html" . }}

  <header class="hero-section overlay bg-cover banner">
    <div class="fixed-top">
      {{ partial "banner.html" . }}
      <div class="bg-white">
        <div class="container bg-white">
          {{ partial "navigation.html" . }}
        </div>
      </div>
    </div>
    <section class="pt-3 mt-95">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center mx-auto">
            <h1 class="mb-3"><img alt="GRASS GIS" src="{{.Site.BaseURL}}/images/logos/grass_gis.svg" width="25%"></h1>{{ with .Site.Params.banner.description }}
            <p class="mb-4">{{ . }}</p>{{ end }}
            </div>
        </div>
        </div>
    </section>
  </header>


  <section class="section bg-gray">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">{{with .Site.Params.topics.title}}
            <p class="pd-20 bigr"><b>GRASS GIS</b>
                is a powerful computational engine for raster, vector, and geospatial processing.
                It supports terrain and ecosystem modeling, hydrology, data management, and imagery processing.
                With a built-in temporal framework and Python API, it enables advanced time series analysis
                and rapid geospatial programming, optimized for large-scale analysis on various hardware configurations.</p>{{ end }}</div>
	{{ range (where .Site.Pages "Type" "pages") }}{{ if not (in  .Section "about") }}
          <div class="col-lg-3 col-sm-6 mb-4">
          <a class="px-4 py-5 bg-white shadow text-center d-block fdiv" href="{{ .Permalink }}"><i class="{{ .Params.Icon }} icon d-block mb-40"></i>
          <h3 class="mb-3">{{ .Title }}</h3>
          <p class="mb-0">{{ .Params.Description }}</p></a>
	    </div>
	{{ end }}{{ end }}    </div>
    </div>
  </section>
  <section class="section npt bg-gray">
   <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="bg-white" id="slides">
                <div class="carousel slide pdt-20" data-interval="3000" data-ride="carousel" id="carouselUI">

                    <div class="carousel-inner">
                        <div class="carousel-item active">     
                            <div class="container position-relative">            
                            <img alt="GRASS GIS team" class="d-block w-100 m-0" src="{{.Site.BaseURL}}/images/other/grass_team_prague_2023_hike.jpg">
                            <div class="row justify-content-center position-absolute w-100"><a href="https://grasswiki.osgeo.org/wiki/GRASS_Community_Meeting_Prague_2024" target="_blank" style="font-size:1.2em;">Join the GRASS GIS Community Meeting</a></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container position-relative">
                            <img alt="GRASS GIS mentoring program" class="d-block w-100 m-0" src="{{.Site.BaseURL}}/images/other/grass_gis_mentoring.jpg">
                            <div class="row justify-content-center position-absolute w-100"><a href="https://grasswiki.osgeo.org/wiki/Mentoring_Program" target="_blank" style="font-size:1.2em;">Join the GRASS GIS Mentoring program</a></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container position-relative">
                            <img alt="GRASS GIS student grants" class="d-block w-100 m-0" src="{{.Site.BaseURL}}/images/other/grass_gis_student_grants.jpg">
                            <div class="row justify-content-center position-absolute w-100"><a href="https://grasswiki.osgeo.org/wiki/Student_Grants" target="_blank" style="font-size:1.2em;">Apply for a GRASS GIS Student grant</a></div>
                            </div>                        
                        </div>
                        <div class="carousel-item">
                            <div class="container position-relative">
                            <img alt="GRASS GIS latest release" class="d-block w-100 m-0" src="{{.Site.BaseURL}}/images/other/grass_release.png">
                            <div class="row justify-content-center position-absolute w-100"><a href="https://github.com/OSGeo/grass/releases" target="_blank" style="font-size:1.2em;">Check the latest GRASS GIS release</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center pd-40">
                        <a class="btn btn-primary dbl" href="https://opencollective.com/osgeo/projects/grass/contribute">SUPPORT US!</a>
                        <!-- <a class="btn btn-primary dbl" href="{{.Site.BaseURL}}/learn/gallery">View gallery</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bg-white" id="news">
                <div class="row justify-content-center pd-40 mb-40">
                    <main role="main">
                        <h2 class="section-gtitle mb-4">Latest news</h2>{{ range first 3 (where .Site.Pages "Section" "news").ByDate.Reverse}}
                        <h3 class="entry-title" itemprop="headline"><a class="nws" href="{{.RelPermalink}}">{{ .Title }}</a></h3>
		        <span class="entry-meta"> <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}"><i class="fa fa-calendar"></i> {{ .Date.Format "January 02, 2006" }}</time></span>{{ end }}
                        <div class="row justify-content-center pd-40">
                            <a class="btn btn-primary dbl" href="{{.Site.BaseURL}}/news">View All</a>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6 mb-2">
            {{ partial "osgeo.html" . }}
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <a class="px-4 py-5 bg-gray text-center shadow d-block fdiv" href="https://doi.org/10.5281/zenodo.5176030">
                <img alt="GRASS GIS" src="{{.Site.BaseURL}}/images/logos/grasslogo.svg" width="31%"><br>
                <img src="https://zenodo.org/badge/DOI/10.5281/zenodo.5176030.svg" alt="DOI">
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            {{ partial "foss4g.html" . }}
        </div>
    </div>
</div>
  </section>{{ partial "footer.html" . }}