<div class="container">
 <div class="row">
  <div class="col-lg-12">
   <ul class="breadcrumb bg-white">
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
    {{ $.Scratch.Add "path" .Site.BaseURL }}
     <li><a href="{{.Site.BaseURL}}">home</a></li>
     {{ range $index, $element := split $url "/" }}
     {{ $.Scratch.Add "path" $element }}
     {{ if ne $element "" }}
     <li><a href='{{ $.Scratch.Get "path" }}'>{{ . }}</a></li>
     {{ $.Scratch.Add "path" "/" }}
     {{ end }}
    {{ end }}
    </ul>
   </div>
  </div>
 </div>