<script>
    $(document).ready(function() {
        $("#{{ .id }}").on('click', function() {
            const code = $(this).prev().text();
            navigator.clipboard.writeText(code).then(() => {
                alert(code);
            }).catch(err => {
                console.error('Error in copying text: ', err);
            });
        });
    });
</script>

<div>
    <h3>{{ .title }}</h3>

<div class="code-container m-3 rounded">
    <pre><code class="language-html">{{ .code }}</code></pre>
    <button id="{{ .id }}" class="btn btn-primary btn-clipboard">Copy</button>
</div>
</div>
  
  