<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btn = document.getElementById("{{ .id }}");
        if (!btn || !btn.previousElementSibling) return;
        btn.addEventListener('click', function () {
            navigator.clipboard.writeText(btn.previousElementSibling.textContent).catch(function (err) {
                console.error('Error in copying text: ', err);
            });
        });
    });
</script>

<div>
    <div class="code-container m-3 rounded d-flex align-items-center position-relative">
        <pre><code>{{ .code }}</code></pre>
        <button id="{{ .id }}" class="btn btn-clipboard"><i class="fa fa-copy"></i></button>
        
    </div>
</div>
