<div class="grass-download m-5">
    <h1 class="text-dark pt-2">Download GRASS GIS for {{ .os }}</h1>
    <p class="card-text">Click the button below to download the latest {{ .os }} version of GRASS GIS.</p>
              <!-- Replace the href value with the actual download link for the Windows version of GRASS GIS -->
    <a href="{{ .url }}" 
        class="btn download-btn" 
        target="_blank"><i class="fa-solid fa-download"></i> Download GRASS GIS ( {{ .version }} )</a>
        <a href="https://opencollective.com/grass/contribute" 
        class="btn support-btn" 
        target="_blank"><i class="fa-solid fa-heart"></i> Support Us</a>
</div>
