<div class="grass-download">
    <h1 class="text-dark pt-2">Download GRASS for {{ .os }}</h1>
    <p class="card-text">Click the button below to download the latest {{ .os }} version of GRASS.</p>
              <!-- Replace the href value with the actual download link for the Windows version of GRASS GIS -->
    <div class="grass-download-button-group">
        <a href="{{ .url }}" 
            class="btn btn-download"
            target="_blank"><i class="fa-solid fa-download"></i> Download GRASS ( {{ .version }} )</a>
        <a href="https://numfocus.org/donate-to-grass"
            class="btn btn-outline-support" 
            target="_blank"><i class="fa-solid fa-heart"></i> Support Us</a>
    </div>
</div>
