<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{.Site.BaseURL}}">
        <img class="grass-icon" alt="GRASS Logo" src="{{.Site.BaseURL}}images/logos/grass-logo-simple/grass-white-no-text.svg">
        <span class="grass text-white">{{.Site.Params.logo}}</span>
    </a>
    <button
        aria-controls="navigation"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler border-0"
        data-target="#navigation"
        data-toggle="collapse"
        type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
            {{ range .Site.Menus.main }}
            {{- if .HasChildren }}
            <li class="nav-item dropdown">
                <a
                    aria-expanded="false"
                    aria-haspopup="true"
                    class="nav-link dropdown-toggle text-light"
                    data-toggle="dropdown"
                    href="{{.URL}}"
                    id="dropdown-{{ .Name | urlize }}"
                    role="button">{{ .Name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-{{ .Name | urlize }}">
                    {{ range .Children }}
                    <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
                    {{ end }}
                </div>
            </li>
            {{- else }}
            <li class="nav-item"><a class="nav-link text-light" href="{{.URL}}">{{ .Name }}</a></li>
            {{- end }}
            {{ end }}
        </ul>

        <form class="search-form" id="search-form" onsubmit="searchContent(event)">
            <input id="search-input" class="search-input" type="search" name="searchString">
            <label for="search-input" class="search-icon" aria-label="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </label>
        </form>

        <script>
            function searchContent(event) {
                event.preventDefault();

                const searchString = encodeURI(`${event.target.searchString.value} site:grass.osgeo.org`);
                const searchURL = "https://duckduckgo.com?q=" + searchString;

                window.open(searchURL)
            }
        </script>
    </div>
</nav>
