<div class="card mb-1-5 ">
<h4 class="mt-20 tind"><i class="ms ms-vector ms-fw"></i> Vector <a href="/grass{{- .Site.Data.grass.current_version_nodots -}}/manuals/vector.html" target="_blank">(v.*)</a></h4>
</div>
<div class="card mb-1-5">
<h4 class="mt-20 tind"><i class="ms ms-raster ms-fw"></i> Raster <a href="/grass{{- .Site.Data.grass.current_version_nodots -}}/manuals/raster.html" target="_blank"> (r.*)</a></h4>
</div>
<div class="card mb-1-5">
<h4 class="mt-20 tind"><i class="ms ms-img-o ms-fw"></i> Imagery <a href="/grass{{- .Site.Data.grass.current_version_nodots -}}/manuals/imagery.html" target="_blank">(i.*)</a></h4>
</div>
<div class="card mb-1-5">
<h4 class="mt-20 tind"><i class="ms ms-data-cube-o ms-fw"></i> Raster 3d <a href="/grass{{- .Site.Data.grass.current_version_nodots -}}/manuals/raster3d.html" target="_blank">(r3.*)</a></h4>
</div>
<div class="card mb-1-5">
<h4 class="mt-20 tind"><i class="ms ms-database-o ms-fw"></i> Database <a href="/grass{{- .Site.Data.grass.current_version_nodots -}}/manuals/database.html" target="_blank">(db.*)</a></h4>
</div>
<div class="card mb-1-5">
<h4 class="mt-20 tind"><i class="fa fa-clock-o fa-fw"></i> Temporal <a href="/grass{{- .Site.Data.grass.current_version_nodots -}}/manuals/temporal.html" target="_blank">(t.*)</a></h4>
</div>
<div class="card mb-1-5">
<h4 class="mt-20 tind"><i class="ms ms-map-rolled-o ms-fw"></i> Display <a href="/grass{{- .Site.Data.grass.current_version_nodots -}}/manuals/display.html" target="_blank">(d.*)</a></h4>
</div>
<div class="card mb-1-5">
<h4 class="mt-20 tind"><i class="ms ms-process ms-fw"></i> General <a href="/grass{{- .Site.Data.grass.current_version_nodots -}}/manuals/general.html" target="_blank">(g.*)</a></h4>
</div>
</div>
