<div class="member">
    <!-- Images stored in themes/grass/assests/images/team/ for processing-->
    {{ $original := resources.Get .image }}
    {{ $cropped := $original.Fill "300x300 smart"}}
    {{ $small := $cropped.Resize "150x150" }}
    {{ $medium := $cropped.Resize "200x200" }}
    {{ $large := $cropped.Resize "300x300" }}
    <img src="{{ $medium.RelPermalink }}"
         srcset="{{ $small.RelPermalink }} 150w,
                 {{ $medium.RelPermalink }} 200w,
                 {{ $large.RelPermalink }} 300w"
         sizes="(max-width: 768px) 100px,
                (max-width: 1024px) 200px,
                300px"
         alt="{{ .name }}" class="img-fluid">
    <h3>{{ .name }}</h3>
    <p><strong>{{ .job }}</strong></p>
    {{ if eq .chair "former" }}
    <p>Former Chair: {{.terms}}</p>
    {{ end }}
    <a href="{{ .website }}" target="_blank">Learn More</a>
    <ul class="list-inline mb-3">
        {{ range .social }}
        <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="{{ .link }}"><i class="{{ .icon }}"></i></a></li>
        {{ end }}
      </ul>
</div>